<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Your Order</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- Récapitulatif de la commande -->
    <ion-card>
      <ion-card-content>
        <ion-item class="ion-text-center">
          <ion-label>
            {{ capitalizeWords(size + ' ' + drink + ' - ' +(sugar ? 'sugar' : 'no sugar') + ', ' + (whippedCream ? 'whipped cream' : 'no whipped cream')) }}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <!-- Inclure le composant OrderConfirmation -->
    <app-order-confirmation 
      [total]="total" 
      [drink]="drink" 
      [size]="size" 
      [sugar]="sugar" 
      [whippedCream]="whippedCream">
    </app-order-confirmation>
  </ion-content>
  